.bottom-panel {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 23rem;
    background-color: #ededed;
    z-index: 1000;
    bottom: 0;
    padding: 0.8rem;    
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    transition: 500ms;
    /* align-self: flex-end; */
}
.bottom-panel.hidden {
    transform: translateY(100%);
    transition: 500ms;
}

.tab-button {
    display: inline-block;
    position: relative;
    top: -3rem;
    height: 2rem;
    /* border: 1px solid black; */
    background-color: #ffc907;
    color: black;
    font-weight: 500;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
}

canvas {
    border: black 1 solid;
}
.switch-display {
    background-color: cornflowerblue;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    color: white;
    font-weight: 400;
}