.daily-forecast {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* width: 100%; */
    gap: 0.6rem;
    margin-top: 0.5rem;
    overflow-x: auto;
}
.daily-forcast-container {
    display: flex;
    gap: 1rem;
    flex-wrap: no-wrap;
    margin-bottom: 1rem;
    /* justify-content: space-between; */
    width: 100%;
    overflow-x: auto;
}
.day-panel {
    width: 5.5rem;
    height: 17rem;
    background-color: white;
    text-align: center;
    padding: 0.5rem;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 8rem;
    overflow-y: auto;
}
.day-panel::-webkit-scrollbar {
    width: 0.5rem;
}

.day-panel::-webkit-scrollbar-track {
    background: transparent;
}

.day-panel::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.day-panel img {
    width: 4rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.day-panel p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}